<!DOCTYPE html>
<html>
<%- include('./inc/nav.ejs') %>
<title>Logikk's Dashboard - Mis tickets</title>
&nbsp
  <div class="container mt-5">
    <% if (typeof noti !== 'undefined' && noti === 'ticketsend') { %>
      <div class="alert alert-success">Tu solicitud de soporte ha sido correctamente enviada, revisa el apartado de tickets para consultar el estado de tu petición. Por favor, ten en cuenta que puede tardar un plazo máximo de 72 horas en ser revisado en caso de que haya mucha saturación en el sistema.</div>
    <% } %>
    <h1>Mis tickets</h1>
    <table>
      <thead>
        <tr>
          <th>ID del ticket</th>
          <th>Categoría</th>
          <th>Información</th>
          <th>Fecha de creación</th>
          <th>Última actualización</th>
          <th>Estado del ticket</th>
          <!--<th>Ver ticket</th>-->
        </tr>
      </thead>
      <tbody>
        <% for (const ticket of tickets) { %>
          <tr>
            <td><%= ticket.id %></td>
            <td><%= ticket.title %></td>
            <td class="categoria"><%= ticket.description %></td>
            <td><%= ticket.createdAt.toLocaleString() %></td>
            <td><%= ticket.updatedAt.toLocaleString() %></td>
            <td>
              <% if (ticket.status === 'abierto') { %>
                <span style="color: green">Aceptado</span>
              <% } else if (ticket.status === 'en progreso') { %>
                <span style="color: yellow">Aguardando revisión</span>
              <% } else { %>
                <span style="color: red">Denegado</span>
              <% } %>
            </td>
            <!--<td>
              <a href="/tickets/<%= ticket.id %>" class="button">Ver detalles</a>
            </td>
          -->
          </tr>
        <% } %>
        </tbody>
        </table>
      </div>
</html>   
<style>
      .categoria {
  max-width: 200px; 
  word-wrap: break-word; 
}
    body {
      background-color: #222;
      color: #fff;
      font-family: sans-serif;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #111;
      padding: 10px;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 0;
    }
    h2 {
      font-size: 2rem;
      margin-top: 0;
      opacity: 0.8;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
    tr:hover {
      background-color: #444;
    }
    th {
      background-color: #111;
      color: #fff;
    }
    .button {
      display: inline-block;
      background-color: #fff;
      color: #333;
      border: 1px solid #333;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 4px;
      margin-top: 20px;
    }
    .button:hover {
      background-color: #333;
      color: #fff;
    }

</style>
