<!DOCTYPE html>
<html>
<%- include('./inc/nav.ejs') %>
<title>Logikk's Dashboard - Mis warns</title>
<nav class="navbar">
  <h2></h2>
</nav>
<div class="container">
  <h2 class="text-center mb-4">Mis warns</h2>
  <% if (warns.length > 0) { %>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Razón</th>
          <th scope="col">Nivel</th>
          <th scope="col">Staff</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <% warns.forEach((warn) => { %>
          <tr>
            <td><%= warn.id %></td>
            <td><%= warn.reason %></td>
            <td><%= warn.level %></td>
            <td><%= warn.staff %></td>
            <td><%= warn.timestamp %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    &nbsp;
    <p>No tienes ningún warn activo a tu nombre, ¡sigue así!</p>
  <% } %>
</div>
</body>
</html>
<style>
  body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2rem;
    margin-top: 0;
    opacity: 0.8;
    color: #ff4444;
    text-align: center;
    margin-bottom: 30px;
  }

  th,
  td {
    color: #fff;
    border-color: #444;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #444;
  }

  .table-striped tbody tr:hover {
    background-color: #666;
  }

  th {
    background-color: #111;
  }

  .btn-primary {
    background-color: #ff4444;
    border-color: #ff4444;
  }

  .btn-primary:hover {
    background-color: #cc0000;
    border-color: #cc0000;
  }
</style>
